.Footer{
    display: inline-flex;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(82, 67, 47, 0.178);
    margin-bottom: 0%;
}

.col-sm-12{
    position: relative; 
    width: 100%;
    min-height: 1px;
    margin-top: auto;
    padding-right: 15px;
    padding-left: 15px; 
}

.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 30px;
    
  }
.col-sm-12 p {
    text-align: center;
    color: black;
    background-color: rgb(155, 235, 224);  
}

