.listUser{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: 10px;
}
.listUser .userItem{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.userItem img{
    margin-left: 0%;
    border-radius: 50%; 
    border: 2px solid #2bf335; 
    padding: 3px; 
    height: 30px;
    width: 30px;
}

.userItem p{
    margin-left: 5px;
    margin-top: 10%;
    font-size: 13px;
    text-align: center;
}