.personsal {
    width: 100%;
    background-color: blue;
    height: 300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .personsal {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .personsal {
      max-width: 560px;
    }
  }
  
  @media (min-width: 992px) {
    .personsal {
      max-width: 660px;
    }
  }
  
  @media (min-width: 1200px) {
    .personsal {
      max-width: 760px;
    }
  }

